form {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 50%;
  margin: 30px;
  .body-input {
    width: 200px;
    color: blue;
    
  }
}

#form-data {
  margin: 32px;
  padding: 32px;
  border: 1px dotted gray;
  display: flex;
  flex-direction: row;
  p {
    font-size: 2em;
    margin-right: 16px;
  }
  height: 100%;
}
